@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
.container{
	text-align: center;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	
}

.gridContent{
	text-align: center;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
	/* box-sizing: border-box; */
	/* border: 5px white solid; */
	/* overflow: hidden; */
	/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	animation: float 6s ease-in-out infinite;
}

.trans1{
	-webkit-transform: translate(135%,-150%);
	-ms-transform: translate(135%,-150%);
	-o-transform: translate(135%,-150%);
	transform: translate(135%,-150%);
	
}

.trans2{
	-webkit-transform: translate(-2%,-160%);
	-ms-transform: translate(-2%,-160%);
	-o-transform: translate(-2%,-160%);
	transform: translate(-2%,-160%);
	
}

.avatar img { width: 100%; height: auto}

.trans{
	transform: skew(50deg, -15deg);
	/* transform: rotate(-30deg); */
}
.maincontainer{
	padding-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}