@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}
.container{
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Cormorant Garamond', serif;
}

.gridContent{
	text-align: center;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
	/* box-sizing: border-box; */
	/* border: 5px white solid; */
	/* overflow: hidden; */
	/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	animation: float 6s ease-in-out infinite;
}

.trans1{
	-webkit-transform: translate(170%,-120%);
	-ms-transform: translate(170%,-120%);
	-o-transform: translate(170%,-120%);
	transform: translate(170%,-120%);
	
}

.trans2{
	-webkit-transform: translate(30%,-175%);
	-ms-transform: translate(30%,-175%);
	-o-transform: translate(30%,-175%);
	transform: translate(30%,-175%);
}

.trans3{
	-webkit-transform: translate(140%,-150%);
	-ms-transform: translate(140%,-150%);
	-o-transform: translate(140%,-150%);
	transform: translate(140%,-150%);
	
}

.trans4{
	-webkit-transform: translate(-2%,-160%);
	-ms-transform: translate(-2%,-160%);
	-o-transform: translate(-2%,-160%);
	transform: translate(-2%,-160%);
}

.trans5{
	-webkit-transform: translate(140%,-90%);
	-ms-transform: translate(140%,-90%);
	-o-transform: translate(140%,-90%);
	transform: translate(230%,-90%);
	
}

.trans6{
	-webkit-transform: translate(120%,-170%);
	-ms-transform: translate(120%,-170%);
	-o-transform: translate(120%,-170%);
	transform: translate(120%,-170%);
}
.avatar img { width: 100%; }

.trans{
	transform: skew(50deg, -15deg);
	/* transform: rotate(-30deg); */
}
.maincontainer{
	padding-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
}